.bg-topo{
	background-color: #da93e4;
}

.btn-buscar{
	border: 2px solid #fff;
	background: none;
	position: relative;
	color: #fff;
	z-index: 1;
	border-radius: 30px;
	height: 100%;
}

.btn-buscar:hover{
	color: #68627a;
	background: #fff;
	border-color: #fff;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out;
}

.bg-servicios{
	background: #da93e4;
}

.bg-tiendaonline{
	background-color: #da93e4;
}

.padding-tiendaonline{
	padding: 2px !important;
}

.bg-parallax{
	background: url(../img/bg.jpg) fixed;
	position: relative;
}

.fatos{
	text-align: center;
	color: #fff;
}

.fatos .icon i{
	font-size: 50px;
	color: #fff;
}

.fatos h3{
	font-size: 35px;
	color: #fff;
	margin-bottom: 5px;
	font-weight: 700;
	letter-spacing: 1px;
}

.fatos h4{
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	letter-spacing: 1px;
}

.tabladecursos{
	padding: 0 0 40px 0;
	margin: 0 auto;
	margin-bottom: 5px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #f1f1f1;
}

.tabladecursos .precio h2{
	font-size: 26px;
	font-weight: 700;
	color: #333;
	margin-bottom: 20px;
	text-transform: uppercase;
	background-color: #da93e4;
	padding: 30px 0;
}

.tabladecursos .precio span{
	display: block;
	font-size: 48px;
	font-weight: 400;
	color: #4c465f;
	margin-bottom: 20px;
}

.tabladecursos .precio ul{
	margin-bottom: 35px;
	padding: 0 !important;
}

.tabladecursos .precio ul li{
	padding: 10px;
	font-size: 15px;
	border-bottom: 1px dotted #da93e4;
	list-style: none;
}

.btn-precio{
	border: 1px solid #ff3859;
	background-color: #ff3859;
	position: relative;
	color: #fff;
	z-index: 1;
	border-radius: 30px;
}

.btn-precio:hover{
	color: #fff;
	background: #da93e4;
	border-color: #4c465f;
	transition: all .50s ease-in-out;
	-moz-transition: all .50s ease-in-out;
	-webkit-transition: all .50s ease-in-out;
}

.bg-rodape1{
	background-color: #da93e4;
}

.bg-rodape1 ul{
	-webkit-padding-start: 0;
}

.bg-rodape1 ul li {
	list-style: none;
}

.bg-card-rodape{
	background-color: #ff3859;
}

.icon-banner-rodape{
	color: #c42841;
}

.bg-rodape2{
	background-color: #da93e4;
}

a.icone-social{
	color: #b3aec2;
}

.underline{
	content: '';
	border-top: 2px solid #ff3859;
	width: 70px;
	display: block;
	margin-bottom: 8px;
	margin: 0 auto;
}

.underline-footer{
	content: '';
	border-top: 2px solid #ff3859;
	width: 70px;
	display: block;
	margin-top: 5px;
}

.sombra:hover{
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.1)
}

.py-4 {
	background-color: #da93e4
}