/* #imagenes {
    width: 150px;
    height: 200px;
  } */
  .bg-topo {
	background-color: #da93e4;
}
.btn-buscar {
	border: 2px solid #fff;
	background: none;
	position: relative;
	color: #fff;
	z-index: 1;
	border-radius: 30px;
	height: 100%;
	&:hover {
		color: #68627a;
		background: #fff;
		border-color: #fff;
		transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out;
	}
}
.bg-servicios {
	background: #da93e4;
}
.bg-tiendaonline {
	background-color: #da93e4;
}
.padding-tiendaonline {
	padding: 2px !important;
}
.bg-parallax {
	background: url(../img/bg.jpg) fixed;
	position: relative;
}
.fatos {
	text-align: center;
	color: #fff;
	.icon {
		i {
			font-size: 50px;
			color: #fff;
		}
	}
	h3 {
		font-size: 35px;
		color: #fff;
		margin-bottom: 5px;
		font-weight: 700;
		letter-spacing: 1px;
	}
	h4 {
		font-size: 20px;
		font-weight: 400;
		color: #fff;
		letter-spacing: 1px;
	}
}
.tabladecursos {
	padding: 0 0 40px 0;
	margin: 0 auto;
	margin-bottom: 5px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #f1f1f1;
	.precio {
		h2 {
			font-size: 26px;
			font-weight: 700;
			color: #333;
			margin-bottom: 20px;
			text-transform: uppercase;
			background-color: #da93e4;
			padding: 30px 0;
		}
		span {
			display: block;
			font-size: 48px;
			font-weight: 400;
			color: #4c465f;
			margin-bottom: 20px;
		}
		ul {
			margin-bottom: 35px;
			padding: 0 !important;
			li {
				padding: 10px;
				font-size: 15px;
				border-bottom: 1px dotted #da93e4;
				list-style: none;
			}
		}
	}
}
.btn-precio {
	border: 1px solid #ff3859;
	background-color: #ff3859;
	position: relative;
	color: #fff;
	z-index: 1;
	border-radius: 30px;
	&:hover {
		color: #fff;
		background: #da93e4;
		border-color: #4c465f;
		transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-webkit-transition: all 0.5s ease-in-out;
	}
}
.bg-rodape1 {
	background-color: #da93e4;
	ul {
		-webkit-padding-start: 0;
		li {
			list-style: none;
		}
	}
}
.bg-card-rodape {
	background-color: #ff3859;
}
.icon-banner-rodape {
	color: #c42841;
}
.bg-rodape2 {
	background-color: #da93e4;
}
a.icone-social {
	color: #ffffff;
}
.underline {
	content: "";
	border-top: 2px solid #ff3859;
	width: 70px;
	display: block;
	margin-bottom: 8px;
	margin: 0 auto;
}
.underline-footer {
	content: "";
	border-top: 2px solid #ff3859;
	width: 70px;
	display: block;
	margin-top: 5px;
}
.sombra {
	&:hover {
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	}
}
.py-4 {
	background-color: #da93e4;
}
.tabla {
	border: 1px solid black;
	margin-top: 50px;
}
table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	td {
		#customers {
			th {
				border: 1px solid #ddd;
				padding: 8px;
			}
		}
	}
	tr {
		&:nth-child(even) {
			background-color: #f2f2f2;
			&:hover {
				background-color: #ddd;
			}
		}
	}
	th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: center;
		background-color: #04aa6d;
		color: white;
	}
}
.directivos {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	border-radius: 6px;
	background: #fff;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	transition: all 400ms ease-out;
	text-align: center;
	margin-bottom: 20px;
	&:hover {
		box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
		transform: translateY(-3%);
	}
}
.grid {
	.directivos {
		.contenido {
			padding: 15px;
			text-align: center;
		}
	}
	margin-top: 50px;
	width: 100%;
	display: flex;
	max-width: 100px;
	div {
		background-color: #f7e9e9;
		padding: 1em;
	}
}
